/*Created 2015-05-18 by RKS*/

.content_container{
    max-width: 982px;
    margin: 0 auto;
}
.display_table{
    display: table;
}

.display_table_cell{
    display: table-cell;
}
.display_block{
    display:block;
}
.header{
    height:108px;
    margin-bottom: 5px;
}
.site_logo{
    width:320px;
}
.logo_a{
    float: left;
    display:block;
}

.newsletter_div{
    text-align:right;
}

.newsletter_div form{
    width:300px;
    margin-left:auto;
}
.middle_align{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.newsletter_input{
    border-radius: 5px 0px 0px 5px;
    box-shadow: none;
    border: 1px solid #ccc;
    padding: 2px 5px;
    width: 210px;
}
.newsletter_btn{
    margin-left: -4px;
    border-radius: 0px 5px 5px 0px;
    box-shadow: none;
    border: 1px solid #ccc;
    background: #eee;
    height: 26px;
    border-left: 0px;
}
.social_div{
    position: absolute;
    right: 300px;
    padding: 3px 0px;
}

.social_icons{
    display:inline-block;
    height: 24px;
    width: 50px;
    }
#social_fb{
    background: url(http://kodekloud.s3.amazonaws.com/sites/554a79236e6f64713f000000/69e8cd982124dc73de1f5a67a627ee75/social_icon_fb.png) no-repeat;
    background-size: contain;
}
#social_twitter{
    background: url(http://kodekloud.s3.amazonaws.com/sites/554a79236e6f64713f000000/69e8cd982124dc73de1f5a67a627ee75/social_icon_twit.png)  no-repeat;
    background-size: contain;
}
#social_youtube{
    background:url(http://kodekloud.s3.amazonaws.com/sites/554a79236e6f64713f000000/69e8cd982124dc73de1f5a67a627ee75/social_icon_youtube.png)  no-repeat;
    background-size: contain;
}

#social_fb:hover{
    background:url(http://kodekloud.s3.amazonaws.com/sites/554a79236e6f64713f000000/69e8cd982124dc73de1f5a67a627ee75/social_icon_fb_onhover.png) no-repeat;
    background-size: contain;
}
#social_twitter:hover{
    background:url(http://kodekloud.s3.amazonaws.com/sites/554a79236e6f64713f000000/69e8cd982124dc73de1f5a67a627ee75/social_icon_twit_onhover.png) no-repeat;
    background-size: contain;
}
#social_youtube:hover{
    background:url(http://kodekloud.s3.amazonaws.com/sites/554a79236e6f64713f000000/69e8cd982124dc73de1f5a67a627ee75/social_icon_youtube_onhover.png) no-repeat;
    background-size: contain;
}

.side_nav{
    width: 207px;
    float: left;
}

.menu_heading{
    background: #e5e5e5;
    padding: 13px 0px 13px 25px;
}
.menu_panel{
    margin-bottom: 10px;
}
.menu_group .panel{
    border:none;
}
.menu_title{
    margin:0px;
}

.menu_title a{
    color: #7a7a7a;
    font-size: 18px;
    display: block;
    font-weight: 400;
}

.menu_title a:hover, .menu_title a:focus{
    text-decoration: none;
    color: #7a7a7a;
}

.menu_body a{
    color:#e5e5e5;
    background: #7a7a7a;
    display:block;
    padding: 6px 0px 6px 25px;
    font-size: 13px;
    margin: 6px 0px;
}
.menu_body a:hover, .menu_body a:focus{
    color:#e5e5e5;
    text-decoration: none;
}

.footer {
    background-color: #f0f0f0;
    color: #c8c8c8;
}
.footer_features {
    border-bottom: 1px solid #C8C8C8;
    padding: 24px 0px;
    margin: 30px 30px 20px;
}

.footer_feature_box {
  float: left;
  width: 32%;
  height: 84px;
  margin-right: 15px;
}
.footer_feature_image {
    float: left;
}

.footer_feature_title {
    float: left;
    padding-left: 22px;
    width: 40%;
    padding-top: 8%;
    color: #4b4b4b;
    font-size: 13px;
}

.footer_feature_image{
    width:130px;
    height: 82px;
}
.site_map_table {
    float: left;
    margin-left: 65px;
}
.bottom_nav_header {
    color: #4b4b4b;
    font-family: verdana;
    font-weight: bold;
    font-size: 9pt;
}





