/*Created 2015-05-18 by RKS*/
.hidden-phone{
    
}
.big_content_container{
    
}
.visible-phone{
    display:none;
}
#no_event_container{
    display:none
}
.margin_none{
    margin:0 !important;
}
.custom_backdrop{
    opacity:0.5;
    background:#fff;
    text-align:center;
}
.custom_backdrop img{
    width:80px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.content_container{
    max-width: 982px;
    margin: 0 auto;
    margin-left: 222px;
    margin-bottom:20px;
}
.site_content_container{
    background: url(http://kodekloud.s3.amazonaws.com/sites/554a79236e6f64713f000000/69e8cd982124dc73de1f5a67a627ee75/home_img.jpg);
    background-size: cover;
    min-height: 500px;
}
.position_relative{
    position: relative;
}
.display_table{
    display: table;
}
.display_table_row{
    display: table-row;
}

.display_table_cell{
    display: table-cell;
}
.display_block{
    display:block;
}
.header{
    height:108px;
    margin-bottom: 5px;
}
.site_logo{
    width:320px;
}
.logo_a{
    float: left;
    display:block;
}

.newsletter_div{
    text-align:right;
}

.newsletter_div form{
    width:300px;
    margin-left:auto;
}
.middle_align{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.newsletter_input{
    border-radius: 5px 0px 0px 5px;
    box-shadow: none;
    border: 1px solid #ccc;
    padding: 2px 5px;
    width: 210px;
}
.newsletter_btn{
    margin-left: -5px;
    border-radius: 0px 5px 5px 0px;
    box-shadow: none;
    border: 1px solid #ccc;
    background: #eee;
    height: 26px;
    border-left: 0px;
}
.social_div{
    position: absolute;
    right: 300px;
    padding: 3px 0px;
}

.social_icons{
    display:inline-block;
    height: 24px;
    width: 50px;
    }
#social_fb{
    background: url(http://kodekloud.s3.amazonaws.com/sites/554a79236e6f64713f000000/69e8cd982124dc73de1f5a67a627ee75/social_icon_fb.png) no-repeat;
    background-size: contain;
}
#social_twitter{
    background: url(http://kodekloud.s3.amazonaws.com/sites/554a79236e6f64713f000000/69e8cd982124dc73de1f5a67a627ee75/social_icon_twit.png)  no-repeat;
    background-size: contain;
}
#social_youtube{
    background:url(http://kodekloud.s3.amazonaws.com/sites/554a79236e6f64713f000000/69e8cd982124dc73de1f5a67a627ee75/social_icon_youtube.png)  no-repeat;
    background-size: contain;
}

#social_fb:hover{
    background:url(http://kodekloud.s3.amazonaws.com/sites/554a79236e6f64713f000000/69e8cd982124dc73de1f5a67a627ee75/social_icon_fb_onhover.png) no-repeat;
    background-size: contain;
}
#social_twitter:hover{
    background:url(http://kodekloud.s3.amazonaws.com/sites/554a79236e6f64713f000000/69e8cd982124dc73de1f5a67a627ee75/social_icon_twit_onhover.png) no-repeat;
    background-size: contain;
}
#social_youtube:hover{
    background:url(http://kodekloud.s3.amazonaws.com/sites/554a79236e6f64713f000000/69e8cd982124dc73de1f5a67a627ee75/social_icon_youtube_onhover.png) no-repeat;
    background-size: contain;
}

.side_nav{
    width: 207px;
    position: absolute;
    height:100%;
    background: #fff;
    z-index: 999;
}

.menu_heading{
    background: #e5e5e5;
    padding: 13px 0px 13px 25px;
}
.menu_panel{
    margin-bottom: 10px;
}
.menu_group .panel{
    border:none;
}
.menu_title{
    margin:0px;
}

.menu_title a{
    color: #7a7a7a;
    font-size: 18px;
    display: block;
    font-weight: 400;
}

.menu_title a:hover, .menu_title a:focus{
    text-decoration: none;
    color: #7a7a7a;
}
.mid_section{
    position: relative;
}
.menu_body a{
    color:#e5e5e5;
    background: #7a7a7a;
    display:block;
    padding: 6px 0px 6px 25px;
    font-size: 12px;
    font-family: verdana;
    margin: 6px 0px;
}
.menu_body a:hover, .menu_body a:focus{
    color:#e5e5e5;
    text-decoration: none;
}

.footer {
    background-color: #f0f0f0;
    color: #c8c8c8;
    padding-bottom:20px;
}
.footer_features {
    border-bottom: 1px solid #C8C8C8;
    padding: 24px 0px;
    margin: 0px 30px 30px 20px;
}

.footer_feature_box {
  float: left;
  width: 32%;
  height: 84px;
  margin-right: 15px;
}
.footer_feature_image {
    float: left;
}

.footer_feature_title {
    float: left;
    padding-left: 22px;
    width: 40%;
    padding-top: 8%;
    color: #4b4b4b;
    font-size: 13px;
}

.footer_feature_image{
    width:130px;
    height: 82px;
}
.site_map_table {
    float: left;
    margin-left: 65px;
}
.bottom_nav_header {
    color: #4b4b4b;
    font-family: verdana;
    font-weight: bold;
    font-size: 9pt;
}
.bottom_nav_list {
    color: #4b4b4b;
    font-family: verdana;
    font-weight: normal;
    font-size: 9pt;
    padding: 5px 2px;
}

.bottom_nav_list a{
    color: #4b4b4b;
}
.footer_logo {
    float: right;
}
.vic_logo{
    margin: 0px 20px;
    text-align: right;
}

.privacy_policy {
    background: #4b4b4b;
    color: #969696;
    padding: 5px 0px;
    font-size: 7pt;
    font-weight: bold;
}
.privacy_policy a{
    color: #969696;
}
.seperator{
    margin:0px 30px;
}
.layout_hours{
    padding-left:25px;
    margin-top:30px;
}
.layout_event{
    padding-left:25px;
    margin-bottom: 20px;
}
/* HOMEPAGE */
.hours_day{
    font-weight:bold;
    color: #7a7a7a;
    width:70px;
    padding-right:15px;
}
.right_nav{
    width: 207px;
    margin-left: auto;
    padding-top: 1px;
}
.home_hours{
    background: #fff;
    padding: 15px;
    margin-top: 18px;
    height: 205px;
}

.home_store_directory{
    background: #fff;
    padding: 15px;
    margin-top: 5px;
    height: 122px;
}

.home_hours td, .layout_hours td{
    font-size:13px;
    padding-bottom: 15px;
    vertical-align: bottom;
}
.home_hours_heading{
    font-size: 25px;
    color: #7a7a7a;
}
.home_store_directory_heading{
    float: left;
    width: 90px;
    font-size: 25px;
    color: #7a7a7a;
}
.feature_box{
    width:100%;
    background: rgba(255,255,255,0.5);
    height: 194px;
    margin-top:100px;
    margin-bottom: 20px;
}
.feature_box_heading{
    color: #7a7a7a;
    font-family: verdana;
    padding: 10px;
    margin-bottom: 0px;
}

.feature_item{
    float: left;
    margin: 0px 5px;
    position: relative;
    width: 314px;
    height: 137px;
}
.feature_item:first-child{
    margin-left:10px;
}
.feature_item img{
    width: 100%;
    max-height: 100%;
}

.feature_item_description{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,.5);;
    color: #fff;
    padding: 5px 10px;
    font-size: 12px;
}
.feature_item_description p{
    margin:0;
}
.feature_item_description a{
    color: white;
    display: block;
}
.feature_item_description a:hover{
    text-decoration: none;
}
.feature_caret{
    position: absolute;
    background: rgba(0,0,0,0.3);
    right: 0;
    padding: 1px 8px;
    bottom: 0px;
    font-size: 25px;
}
.page_header{
    margin-bottom:100px;
}
.page_header img{
    width:100%;
    background: url(http://kodekloud.s3.amazonaws.com/sites/554a79236e6f64713f000000/848ad2ceb827ef89c8c86be14c73dc28/store_img.png);
    padding-top: 190px;
    margin-left: 222px;
}
.page_heading{
    position: absolute;
    bottom: 0;
    padding: 15px 10px;
    width: 100%;
    background: rgba(255,255,255,0.7);
    margin: 0;
    font-size: 25px;
}

.promo_box{
    position: relative;
    width: 48%;
    height: 260px;
    background:#e5e5e5;
    float: left;
    margin-bottom: 100px;
}
.promo_box:nth-child(even){
    float:right;
}
.logo_circle{
    width: 113px;
    position: absolute;
    top: -60px;
}
.logo_circle_heading{
    position: absolute;
    top: -45px;
    left: 120px;
    font-size: 20px;
    font-weight: 600;
    font-family: verdana;
}
.promo_image {
    width: 202px;
    float: right;
    height: 209px;
    text-align: center;
}
.promo_image img{
    max-width:100%;
    max-height:100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.promo_description{
    width: 237px;
    float: left;
    height: 209px;
    background: #fff;
    text-align: center;
}

.promo_read_more{
    color: #000;
    float: right;
    font-weight: 600;
    padding: 10px 0px;
}

.promo_read_more:hover{
    color: #000;
    text-decoration: none;
}
.promo_details{
    padding:18px;
    background:#e5e5e5;
    position:relative;
    min-height: 600px;
    margin-bottom:40px;
}
.promo_heading{
    margin: 0;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 40px;
}
.promo_details_circle{
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, -30%);
    width: 25%;
}
.promo_details_name{
    width: 32%;
    font-size: 25px;
    font-weight: bold;
}
.promo_details_image{
    width: 32%;
    float:right;
    border: 5px solid #fff;
    border-radius: 4px;
}

.promo_details_description{
    font-size: 17px;
    margin: 10px 0px;
}

.promo_details_dates{
    font-size: 25px;
}
.store_list_nav_div {
  border-bottom: 1px solid #959595;
  height: 48px;
  margin-bottom: 38px;
}
.store_list_nav_div a{
    color:000;
}
.sort_label {
  border-left: medium solid #000000;
  float: left;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 44px;
}

.nav_1 li{
    float: left;
  list-style: none outside none;
  margin-right: 35px;
  padding: 0 20px 20px;
}
.nav_2 li {
  float: left;
  list-style: none outside none;
  padding: 0 35px 15px 15px;
}
#alpha_link {
  padding-bottom: 25px;
  border-bottom: 4px solid black;
  color: black;
  margin-left: 10px;
  padding-left: 0;
  padding-right: 0;
}
#dir_link {
  border-bottom: 9px solid black;
  color: black;
}
.nav_2 select {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: medium none;
  color: #959595;
  font-family: verdana;
  font-size: 11pt;
  height: 21px;
  margin-bottom: 8px;
  padding-bottom: 0;
  padding-top: 0;
  text-align: left;
  width: 320px;
}
select#cats:focus {
  outline: none;
}

.hours_heading{
    font-size: 20px;
    font-weight: 600;
    font-family: verdana;
    margin-top:20px;
}
.cat-dd {
  background:url(http://kodekloud.s3.amazonaws.com/sites/554a79236e6f64713f000000/2108e972fdd10fc81d8ccad08f1f4e0c/arrow.jpg);
  background-position: right 5px;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 305px;
}

.hours_left{
    padding:10px 0px;
    font-weight: bold;
    width:300px;
}
#storelist_container {
  position: relative;
  z-index: 999999;
  background: white;
  height: 30px;
  border: 1px solid #eeeeee;
}

/* Media Queries*/
@media(min-width:1400px){
    .content_container{
        margin:0 auto !important;   
    }
}
@media(max-width:1024px){
    .feature_item{
        width:31%;
    }
    .footer .content_container{
        margin:0;
    }
    .site_map_table{
        margin-left:35px;
    }
}








