/*Created 2015-05-06 by RKS*/

.container{
    width: 982px;
    margin: 0 auto;
}
.display_table{
    display: table;
}

.display_table_cell{
    display: table-cell;
}
.display_block{
    display:block;
}
.header{
    height:108px;
}
.site_logo{
    width:320px;
}
.logo_a{
    float: left;
    display:block;
}

.newsletter_div{
    text-align:right;
}